@import '../../../styles/settings.scss';

.root {
  padding: 10px 15px;
  min-width: 115px;
  font-size: 0.9rem;
  font-weight: 600;
  color: $color-second;
  border: none;
  outline: 2px solid $color-first;
  background-color: $background-light-violet;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    outline: 2px solid $color-second;
  }

  &.active {
    background-color: $color-second;
    color: $color-first;
    outline: 2px solid $color-second;
  }
}
