$base-size: 16px;

$font-first: 'Roboto Serif', serif;

$font-light: #ffffff;
$font-dark: #000000;

$background-light: #ffffff;
$background-light-violet: #8a70c2;
$background-chocolate: #d2691e;

$border-light-violet: #8a70c2;

$box-shadow-small: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

$color-first: #8a70c2;
$color-second: #ffa500;

$transition: all 0.3s;
